#content{
	padding:70px 0 0 0;
	height:400px;
	color:#ffc;
}

#list{
	width:80%;
	border:1px solid #fff;
	margin:0 auto;
	padding:0;
	font-size:20pt;
}

.t th{
	border:1px solid #fff;
	text-align:center;
	color:#37548e;
}


.t td{
	border:1px solid #fff;
	text-align:center;
	color:#ffc;
}

p{
	text-align:center;
}
.t td,.t th{
	height:40px;
	margin-top:50px;
	padding:10px;
	
}
#before,#after{
	display: inline-block;
}
#pages{
	margin:10px auto;
	text-align: center;
	font-size: 28px;
}
#bef,#aft{
	width:88px;
	height:36px;
	font-size: 23px;
	font-family: sans-serif;
	background: #37548e;
	color:#ffc;
}