body{
	margin:0;
	padding:0;
	background-image:url(../images/background0.png);background-repeat:no-repeat;
   	background-size:cover;
}
.header{
	width:100%;
	height:150px;
	font-size:30pt;
	font-weight:bold;
	line-height: 150px;
}
.content{
	width:100%;
	height:550px;margin-top:50px;
	background-image:url(../images/content2.png);background-repeat:no-repeat;
	background-size:cover;
	
	
}
.footer{
	width:100%;
	height:10%;
	font-size: 20px;
	
}
.header,.footer{
	text-align:center;
	font-family:"Î¢ÈíÑÅºÚ";
	color:#fff;
}
.afooter{
	text-decoration:none;
	color:#fff;
	line-height:18px;
	border-bottom:1px solid #fff;
}
